<%= form_for(@workshop) do |f| %>
  <% if @workshop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workshop.errors.count, "error") %> prohibited this workshop from being saved:</h2>

      <ul>
      <% @workshop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
  <div class="input-field col s12 m12 l4 offset-l4">
    <%= f.label :folio %>
    <%= f.text_field :folio %>
  </div>
</div>

  <div class="row">
  <div class="center-align">
    <%= f.submit @msg, class: 'btn dark'%>
  </div>
    
  </div>
<% end %>
